<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.title }}</title>
    <link href='/assets/css/main.build.css' rel="stylesheet" />
</head>

<body class="bg-white text-gray-900 w-full">
    {{ content }}
    <main class="prose mx-auto p-6 z-10">
        <h1 class="text-center font-bold text-4xl squiggly-bg">
            <a href="/">GREENE GARDEN OASIS</a>
        </h1>
    </main>
</body>

</html>